.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 7%,
    rgba(186, 34, 37, 1) 50%,
    rgba(255, 42, 0, 0.911067405443513) 50%
  );
  color: #e9ecef;
  font-family: "Rubik", sans-serif;
}
